.postContainer {
	display: flex;
	align-items: flex-start;
}

.avatarImage {
	border-radius: 50%;
	max-width: 64px;
	margin-right: 10px;
}

.header {
	display: flex;
}

.header > span {
	margin-right: 10px;
}

.header,
.text,
.author {
	margin: 0 0 10px 0;
}

.profileName {
	font-weight: bold;
}

.profileAccount,
.profileDate {
	color: grey;
}

.authorAccount {
	color: lightseagreen;
	cursor: pointer;
}

.actionIcons {
	list-style: none;
	padding: 0;
	display: flex;
}

.actionIcons > li {
	display: flex;
	margin-right: 35px;
	cursor: pointer;
}

li > span {
	margin-left: 5px;
}

.sharesTheme {
	color: green;
}

.likesTheme {
	color: #f50057;
}
